{% extends "base.html" %}
{% block title %}Create an appointment{% endblock %}
{% block content %}

<link type="text/css"  rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker.min.css">
<link type="text/css"  rel="stylesheet" media="screen" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

<h1 align="center">Create an appointment</h1>

<form method="POST" action="/appointment">
    <div class="form-group">
        <label for="type">Type</label>
        <select id="type" name="type" class="form-control form-control-lg">
            <option value="s">Standard</option>
            <option value="e">Emergency</option>
        </select>
    </div>
    <div class="form-group">
        <label for="type">Patient</label>
        {% if patients | length > 0 %}
            <select id="patient_id" name="patient_id" class="form-control form-control-lg">
                {% for patient in patients %}
                    <option value="{{patient.public_id}}">{{patient.name}}</option>
                {% endfor %}
            </select>
        {% else %}
            <input type="hidden" class="form-control" id="patient_id" name="patient_id" value="{{patient.public_id}}" />
            <input type="text" class="form-control" id="patient_id" name="patient_id" value="{{patient.name}}" disabled />
        {% endif %}
    </div>
    <div class="form-group">
        <label for="type">Healthcare Professional</label>
        <select id="healthcare_professional_id" name="healthcare_professional_id" class="form-control form-control-lg">
            {% for healthcare_professional in healthcare_professionals %}
                <option value="{{healthcare_professional.public_id}}">{{healthcare_professional.get_position()}} - {{healthcare_professional.name}}</option>
            {% endfor %}
        </select>
    </div>
    <div class="form-group">
        <label for="start_time">Start Time</label>
        <div class='input-group date' id='start_time_picker'>
            {% if start_time %}
                <input type='text' id="start_time" name="start_time" class="form-control" value="{{start_time}}" />
            {% else %}
                <input type='text' id="start_time" name="start_time" class="form-control" />
            {% endif %}
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
            </span>
        </div>
    </div>
    <div class="form-group">
        <label for="end_time">End Time</label>
        <div class='input-group date' id='end_time_picker'>
            {% if end_time %}
                <input type='text' id="end_time" name="end_time" class="form-control" value="{{end_time}}" />
            {% else %}
                <input type='text' id="end_time" name="end_time" class="form-control" />
            {% endif %}
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
            </span>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

<script type="text/javascript" src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"> </script>

<script>
    (function($) {
        "use strict";
        $('#start_time').datetimepicker({
            format: 'YYYY-MM-DD hh:mm'
        });
        $('#end_time').datetimepicker({
            format: 'YYYY-MM-DD hh:mm'
        });
    })(jQuery);
</script>

{% endblock %}
